<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vegetable shop{% endblock %}</title>
</head>
<body>
{% block content %}
    <h1>Овощной магазин</h1>
    <p>Овощная лавка – стабильный бизнес, так как продукты питания – основная статья расходов любого покупателя.
        Натуральные овощи и фрукты можно приобрести как на обычном рынке, так и в супермаркете или в небольшом
        специализированном магазине. Последним покупатели доверяют охотнее по причине лучшего качества, привлекательной
        цены и транспортной доступности. Поэтому дизайн овощного магазина должен создавать атмосферу уютного, чистого
        сельского рынка, на который можно заскочить за покупками второпях или не спеша прогуляться по нему</p>
{% endblock %}
<footer>Скоро открытие</footer>
</body>
</html>